<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <category label="Webshare.cz">
    <setting id="username"     type="text"   label="Uzivatelske jmeno" default=""/>
    <setting id="password"     type="text"   label="Heslo" default="" option="hidden"/>
    <setting type="action"     label="Prihlasit se k Webshare"
             action="RunPlugin(plugin://plugin.video.nexastream/?mode=do_login)"/>
  </category>
  <category label="Databaze">
    <setting id="tmdb_api_key" type="text"   label="TMDB API klic (volitelne)" default=""/>
    <setting id="omdb_key"     type="text"   label="OMDB API klic" default="3e593e30"/>
    <setting id="use_csfd"     type="bool"   label="Pouzivat CSFD" default="true"/>
    <setting id="use_tmdb"     type="bool"   label="Pouzivat TMDB" default="true"/>
    <setting id="use_omdb"     type="bool"   label="Pouzivat OMDB" default="true"/>
  </category>
  <category label="Prehravani">
    <setting id="auto_best"    type="bool"   label="Automaticky prehrat nejlepsi kvalitu" default="false"/>
    <setting id="min_size_mb"  type="slider" label="Min. velikost souboru (MB)" range="0,50,2000" default="200" option="int"/>
    <setting id="max_watched"  type="slider" label="Max. sledovanych polozek" range="10,10,200" default="50" option="int"/>
  </category>
  <category label="VIP Přístup">
        <setting id="vip_code" type="text" label="NexaStream VIP Kód" default=""/>
    </category>
</settings>
